.ge_member{
    height: 300px;
}
.ge_member .ge_member_columen{
    float: left;
    width: 100%;
    overflow: hidden;
    height: 38px;
    background-color:#f6f6f6;
}
.ge_member .ge_member_columen span{
    float: left;
    display:block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: "黑体";
}
.ge_member .ge_member_columen select{
    float: left;
    width: 120px;
    height: 30px;
    line-height: 30px;
}
.ge_member .ge_member_columen .ge_label{
    padding-top: 6px;
    height: 30px;
    overflow: hidden;
}

.ge_member .ge_member_list{
    float: left;
    height: 30px;
    width: 100%;
    padding: 10px;
}
.ge_member .ge_member_list .ge_member_block{
    display: block;
    float: left;
    /*background-color: #999;*/
    color: #000;
    width: 85px;
    height: 30px;
    margin: 5px 10px 5px 12px;
}
.ge_member_block input{
    margin-top: 8px;
    margin-left: 5px;
}
.ge_member_block span{
    overflow: hidden;
}
.ge_member_columen .memType{
    height: 30px;
    line-height: 30px;
    text-align: center;
}